<p>Dans cette expérience, un cercle apparaitra au centre de l'écran.</p>
<p>Si le cercle est <strong>bleu</strong>, appuyez sur la touche F du clavier aussi vite que possible.</p>
<p>Si le cercle est <strong>orange</strong>, appuyez sur la touche J du clavier aussi vite que possible.</p>
<div style='width: 700px;'>
    <div style='float: left;'>
        <img src='img/blue.png'>
        <p class='small'><strong>Appuyez sur la touche F</strong></p></div>
    <div class='float: right;'>
        <img src='img/orange.png'>
        <p class='small'><strong>Appuyez sur la touche J</strong></p></div>
</div>
<p>Appuyez sur n'importe quelle touche pour continuer.</p>